html {
   background-color: #1C2230;
    text-align: center;
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    font-family: "Open sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-wrap: pretty;
}

a {
    
    color: hsl(0, 0%, 100%);
    font-family: "Open sans", serif;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
}

nav a:hover {
    text-decoration: underline;
}

html > * {
    text-align: center;
    align-content: center;
    align-items: center;
}

header, nav * {
    display: inline-flex;
}

header {
    width: 90%;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 80px;
    padding-bottom: 45px;
    max-height: 54px;
    background-color: hsl(217, 28%, 15%);
}

nav {
    width: 20%;
}

nav ul {
    width: 100%;
    padding: 0px;
    justify-content: space-between;
}

nav li {
    width: 20%;
    justify-content: center;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

body > div {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

#getStarted {
    background-color: hsl(217, 28%, 15%);
    flex-direction: column;
    width: 100%;
    height: 1076px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#getStarted > * {
    width: 720px;
    margin-bottom: 15px;
}

#getStarted > h4 {
    width: 600px;
    margin-top: 15px;
    font-weight: 400;
}

#getStartedButton {
    margin-top: 15px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
    width: 280px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 30px;
}

#getStartedButton:hover {
    background: hsl(176, 68%, 64%);
}

h1, h2, h3, h4 {
    font-family: 'Raleway', serif;
    font-weight: 700;
    text-decoration: none;
}

h5, h6 {
    font-weight: 400;
    margin: 0px;
}

h1 {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    line-height: 60px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
}

h5 {
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
}

h6 {
    font-size: 8px;
    line-height: 12px;
    opacity: 75%;
}

#advantagesList {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 19%;
    padding-top: 0px;
}

.advantageItem img {
    height: 90px;
    margin-bottom: 20px;
}

.advantageItem {
    width: 42%;
    margin-bottom: 80px;
    text-wrap: wrap;
}

#stayProductive {
    display: flex;
    justify-content: space-between;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 100px;
}

#stayProductive > img {
    width: 50%;
}

#stayProductiveDesc {
    width: 40%;
    text-align: left;
    margin: auto;
}

#linkContainer {
    line-height: 30px;
    border-bottom: 1px solid;
    color: hsl(176, 68%, 64%);
    display: inline-block;
}

#arrow {
    position: relative;
    left: 2px;
    top: 2px;
    height: 14px;
    width: 14px;
}


#linkContainer:hover {
    color: white;
    font-weight: 400;
}

#linkContainer:hover svg circle {
    fill: white;
}

#reviewsList {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-right: 9%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 35px;
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
}

.review {
    max-height: 200px;
    width: 27%;
    margin: 0px;
    padding: 2%;
    text-align: left;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    box-shadow: 5px 5px #1C202C;
}


.reviewAuthor {
    display: flex;
    height: 25px;
}

.reviewAuthor img {
    border-radius: 25px;
}

.reviewAuthorDesc {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

#earlyAccess {
    margin-top: 120px;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(hsl(218, 28%, 13%), hsl(218, 28%, 13%)) top,
                linear-gradient(hsl(216, 53%, 9%), hsl(216, 53%, 9%)) bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

#earlyAccessContent {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 220px;
    width: 50%;
    background-color:hsl(217, 28%, 15%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px rgb(6,16,28,0.25);
}

#earlyAccessContent p {
    width: 86%;
    margin: auto;
    margin-top: 10px;
}

form {
    display: flex;
    justify-content: space-between;
}

input {
    border-radius: 24px;
    border: 0px;
}

#formField {
    width: 62%;
}

input[type=email] {
    width: 100%;
    height: 48px;
    padding-left: 40px;
}

input[type=submit] {
    width: 27%;
    height: 48px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
    font-weight: 700;
    font-size: 14px;
}

input[type=submit]:hover {
    background: hsl(176, 68%, 64%);
    cursor: pointer;
}

input::placeholder {
    opacity: 50%;
}

#errorMsg {
    text-align: center;
    color: hsl(0, 100%, 63%);
    font-size: 10px;
    line-height: 30px;
    margin: 0px;
    padding:0px;
    text-align: left;
    margin-left: 40px;
    visibility: hidden;
}
footer {
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 40px;
    text-align: left;
    text-wrap: balance;
    background-color: hsl(216, 53%, 9%);
}

#logo {
}

#footerMain {
    display: flex;
    justify-content: space-around;
}

#footerMain div {
    display: flex;
}

#address {
    width: 30%;
}

#contactInfo {
    width: 20%;
}

#about {
    width: 7%;
}

#legal {
    width: 8%;
}

#footerMain ul {
    list-style: none;
    padding: 0px;
}

#footerMain ul li {
    margin-bottom: 15px;
}

#position {
   background : url(../images/icon-location.svg) no-repeat left 5px;
   padding-left: 50px;
}

#phone {
   background : url(../images/icon-phone.svg) no-repeat left 5px;
   padding-left: 50px;
}

#mail {
   background : url(../images/icon-email.svg) no-repeat left 5px;
   padding-left: 50px;
}

#socialMedia {
    width: 10%;
    display: inline-flex;
    justify-content: center;
}

footer > p {
    text-align: center;
}

.fa {
    border: 1px solid;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 10px; 
}

.fa:hover {
    color: hsl(176, 68%, 64%);
}

@media(max-width:750px) {
    
    html {
        line-height: 20px;
    }
    
    header {
        padding-top: 25px ;
        height: 25px;
        justify-content: space-between;
    }
    
    header img {
        width: 80px;
        height: 25px;
    }
    
    nav {
        width: 50%;
        font-size: 12px;
    }
    
    nav ul {
        margin-top: 0px;
        width: 100%;
    }
    
    h1 {
        font-size: 25px;
        line-height: 50px;
    }
    
    h4 {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
    
    #getStarted {
        width: 85%;
        padding-left: 7.5%;
        padding-right: 7.5%;
        background-image: url('../images/bg-curvy-mobile.svg'), linear-gradient(hsl(218, 28%, 13%),hsl(218, 28%, 13%)) ;
        background-position: 100% 40%, bottom;
        background-repeat: no-repeat;
        background-size: 100% 20%, 100% 48%;
        height: auto;
        margin-bottom: 90px;
    }
    
    #getStarted > * {
        width: 100%;
    }
    
    #getStarted h4 {
        width: 99%;
        font-size: 15px;
        line-height: 24px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    #advantagesList {
        flex-direction: column;
        width: 85%;
        margin: 0px;
        margin-bottom: 40px;
    }

    .advantageItem img {
        height: 60px;
        margin-bottom: 30px;
    }

    .advantageItem {
        width: 100%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    #stayProductive {
        flex-direction: column;
    }
    
    #stayProductive h1, #earlyAccess h1 {
        font-size: 18px;
        line-height: 25px
    }
    
    #stayProductive img, #stayProductiveDesc {
        width: 100%;
        margin-bottom: 50px;
    }
    
    #reviewsList {
        flex-direction: column;
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
        padding: 0;
        padding-top: 10px;
        font-size: 10px;
        line-height: 20px;
        background-size: auto 22px;
        background-position: 2% 0;;
    }
    
    .review {
        text-wrap: wrap;
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 25px;
        padding-bottom: 20px;
        margin: auto;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    #earlyAccess {
        width: 90%;
        height: 350px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #earlyAccessContent {
        width: 100%;
        height: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        
    }
    
    
    footer, #footerMain {
        flex-direction: column;
    }
    
    footer {
        width: 75%;
        padding-left: 8%;
        padding-right: 17%;
        text-wrap: wrap;
    }
    
    #footerMain {
        width: 100%;
        margin-top: 45px;
    }
    
    #footerMain > * {
        width: 100%;
    }
    
    form {
        flex-direction: column;
        width: 100%;
    }
    
    input[type=email], input[type=submit] {
        height: 50px;
        border-radius: 25px;
        margin: auto;
        margin-bottom: 24px;
    }
    
    #formField {
        width: 100%;
        justify-content: flex-end;
    }
    
    #errorMsg {
        line-height: 24px;
        padding: 0p;
    }
    
    input[type=email] {
        width: 75%;
        padding-left: 10%;
        margin-bottom: 0px;
    }
    
    input[type=submit] {
        width: 85%;
    }
    
    #position, #phone, #mail {
        padding-left: 40px;
    }
    
    #footerMain ul {
        padding: 0px;
        margin: 0px;
    }
    
    #contactInfo ul li {
        margin-bottom: 15px;
    }
    
    #about, #legal {
        margin-top: 45px;
    }
    
    #socialMedia {
        margin-top: 50px;
        margin-bottom: 50px;
        
    }
}